@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24px;
  color: #1D222C;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #3B5E9C;
  margin: 0.5rem 0;
}

p {
  font-size: 14.25px;
}

small {
  font-size: 14.25px;
}

h4 {
  position: relative;
  text-transform: uppercase;
  margin-left: 45px;
  font-size: 18px;
}

.role-selector {
  font-size: 15px;
  margin: 0px;
}

.career-summary-class {
  padding: 25px 45px;
}

.career-summary-class h4 {
  margin-left: 0px;
}

.entry {
  position: relative;
  width: 100%;
  padding: 25px 45px;
  -webkit-transition: 0.039s ease-in-out all;
  transition: 0.039s ease-in-out all;
}

.entry:hover {
  cursor: pointer;
  background-color: #eee;
}

@media (max-width: 768px) {
  .career-summary-class {
    padding: 25px;
  }
  .career-summary-class h4 {
    margin-left: 0px;
  }
  h4 {
    margin-left: 25px;
  }
  .entry {
    padding: 25px;
  }
}

.entry-super-class .entry::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: -0px;
  left: 0;
  background-color: #e2e2e2;
}

.entry-super-class .entry:last-child::after {
  background-color: unset;
}

.entry-super-class {
  padding: 12.5px 0px;
}

.key-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.key-events p {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .key-events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .entry-super-class {
    padding: 12.5px 0px;
  }
}

.explainer-header {
  position: relative;
  margin-left: 25px;
}

.explainer-header::after {
  position: absolute;
  content: "-";
  left: -25px;
}

.explainer-body {
  padding-left: 25px;
}

.cv-super-class {
  max-width: 750px;
  margin: 15px auto;
  padding: 20px 0px;
  -webkit-box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
          box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
  border-radius: 6px;
}

.profile-key-details {
  padding: 15px 45px;
}

.profile-name-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.profile-name-tag h2 {
  margin-right: 10px;
}

.profile-key-details h2 {
  text-transform: uppercase;
}

.profile-key-details .key-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.profile-key-details .key-contacts .items:nth-child(1) {
  margin-right: 10px;
}

.profile-key-details .key-contacts span {
  font-size: 12.5px;
}

.profile-key-details .key-contacts .item-tag {
  color: #3B5E9C;
  font-weight: 600;
  position: relative;
}

.profile-key-details .key-contacts .item-content {
  font-weight: 500;
}

.profile-key-details .items:not(:nth-child(1)) {
  position: relative;
  margin: 0px 10px;
}

.profile-key-details .items:not(:nth-child(1)):after {
  left: -10px;
  position: absolute;
  content: "|";
  font-weight: 600;
  color: #3B5E9C;
}

.degree, .class-of-degree {
  font-weight: 600;
}

.education-history .key-events p {
  font-weight: 400;
}

@media (max-width: 768px) {
  .profile-key-details {
    padding: 15px 25px;
  }
  .cv-super-class {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.partner-appreciation p {
  text-align: center;
  margin: 25px 0px;
}

.partner-appreciation .informer {
  font-size: 11px;
  padding: 0px 25px;
}

.brand_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 300px;
  margin: 0 auto;
}

.brand_logo a img {
  width: 135px;
  height: auto;
  margin: 0px 10px;
}
/*# sourceMappingURL=style.css.map */